header {
    display: flex;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: mediumvioletred;
}
main{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr;
}

button {
    width: 60px;
    height: 40px;
    align-self: center;
    margin-left: auto;
    margin-right: 5px;
}

#ajuste-bolos {
    grid-row: 1/ span 1;
    grid-column: 2/ span 4;
}

.bolos {
    width: 200px;
    height: 200px;
}

.icons {
    display: line;
    width: 20px;
    height: 20px;
    align-self: center; 
    margin: 5px;
}

.menu {
    background-color: #f2d0e0;
}


footer {
    background-color: mediumvioletred;
    text-align: center;
    position: absolute;
    width: 100%;
}


