/* CSS Geral */
body {
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 34%, rgba(255,255,255,1) 100%);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    padding-top: 300px;
    background-image:url(/portfolio/img/fundoAnimado.gif);
}

h1 {
    text-align: center;
}

table {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

div img {
    width: 40%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

#textoCor {
    color: white;
}

.textoCenter {
    text-align: center;
}

.menuTam {
    width: 100%;
}

#redes {
    background-color: white;
    margin: 10px;
}